*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
u{
    color: white;
    margin-top: 5%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#bc0a0a, #3f22fe)
}
#conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#userPicture{
    border-radius: 100%;
}
h1{
    font-size: 600%;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
input::placeholder{
    color:white
}
input{
    height: 42px;
    width: 540px;
    border-radius: 5px;
    padding-left:2% ;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
}
button{
    height: 42px;
    width: 62px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    border-color: white;
    margin-left: 3%;
}
#main{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: 1%;
}
article{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 50px;
    margin: 2%;
    border-radius: 15px;
}
aside{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5%;
    margin: 1%;
    border-radius: 15px;
}
section{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 480px;
    width: 900px;
    border-radius: 15px;
    padding: 2%;
    margin: 1%;
}
.repositorio{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
}
h4{
    padding: 1%;
}
ul{
    color: white;
    list-style: none;
    text-align: start;
}
a {
    color: #ffffff; 
  }